body {
    margin: auto;
    height: 100%;
}
.artboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1480px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86%;
    height: 189px;
    margin: 63px 99px 49px 99px;
}

h1 {
    width: 334px;
    height: 79px;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0px;
    text-align: center;   
}
.heading {  
    color: #4BCAFF;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #35444F;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    list-style-type: none;
}

.main-menu-item:hover {
    background-color: #14181b;
    
}
.main-menu-item {
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
    padding: 19px 30px;
}
li:first-child {
    border-left: 1px solid white;
}

.vertical-line {
    border-left: 1px solid white;
}

aside {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(149, 146, 146);
    align-self: flex-start;
    margin: 0px 20px 40px 0px;

}
.content {
    display: flex;
    width: 86%;
    margin: 0 99px 0 99px;
}

.left-menu {
    margin-right: 57px;
}
.left-menu-item {
    display: flex;
    box-sizing: border-box;
    width: 344px;
    padding: 27px 38px;
    text-align: left;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    color: #495863;
}

.left-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 50px;
}

main {
    display: block;
    width: 70%;
    height: fit-content;
    top: -642px;
    left: -741px;
    flex-grow: 3;
    margin-bottom: 20px;
    
}
.top-main-img {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
    border: none;
    border: 1px solid #4bc5f8;  
}

.goat {
    padding: 75px 0px;
}
.p-1, .p-2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #2C2C2C;
    padding: 10px 0px 0px 0px ;

}

footer {
    display: flex;
    justify-content: center;
    background: #63696E7A;
    flex-direction: row;
    margin: 60px 99px 30px 99px;

}

.footer {
    padding: 19px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: linear-gradient(0deg, #0C1927, #0C1927),
}

.footer:hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.footer-link {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #010101;
    padding: 19px;
    margin-left: 70px;
}